/*Ensures no gaps on side of screen*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

/*Change font size of body for easy use of rems*/
body {
    font-size: 10px;
    font-family: font-family: 'Bodoni Moda', serif;
    background-color: #E5F9E0;
}

/*Game heading style*/
.game-title {
    float: none;
    width: 100%;
    background-size: cover;
    background-color: #E5F9E0;
}

h1 {
    text-align: center;
    font-size: 4rem;
    color: #090909;
    padding: .5rem 0 1rem 0;
}

/*Game area*/
.game-block {
    background-color: #090909;
    width: 50rem;
    margin: 0 auto;
    height: 70vh;
    border-radius: 25px;
}

.user-controls {
    width: 85%;
    margin: 20px auto;
    height: 50vh;
}

.score-count {
    height: 10vh;
    background-color: yellow;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.button {
    width: 5rem;
    height: 5rem;
    letter-spacing: 1.2px;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.button-big {
    padding-top: 10px;
    background-color: #fff;
    width: 130px;
    height: 130px;
    font-size: 5rem;
    border: 4px solid blue;
    border-radius: 50%;
    margin: 106px 45px;
    transition: .2s;
}

.text-area {
    color: #fff;
    text-align: center;
    font-size: 250%;
    height: 10vh;
    text-transform: capitalize;
}

.score-count {
    width: 100%;
    text-align: center;
    background-color: #090909;
}

.scores {
    font-size: 250%;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #fff;
}

/*footer*/
.footer {
    width: 100%;
}

.footer-text {
    float: left;
    font-size: 200%;
    margin-left: 20%;
    margin-bottom: 2%;
    color: #090909;
}

.social {
    font-size: 300%;
    margin-right: 20%;
    margin-top: 3%;
}

.social li {
    display: block;
    list-style-type: none;
    padding-right: 3rem;
    float: right;
}

.social i {
    color: #090909;
}
