/*Ensures no gaps on side of screen*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

/*Change font size of body for easy use of rems*/
body {
    font-size: 10px;
    font-family: font-family: 'Bodoni Moda', serif;
    background-color: #7B6D8D;
}

/*Game heading style*/
.game-title {
    float: none;
    width: 100%;
    background-size: cover;
    background-color: #31081F;
}

h1 {
    text-align: center;
    font-size: 4rem;
    color: #fff;
    padding: .5rem 0 1rem 0;
}

/*Game area*/
.game-block {
    background-color: #000;
    width: 50rem;
    margin: 0 auto;
    height: 70vh;
    border-radius: 25px;
}

.user-controls {
    width: 85%;
    margin: 20px auto;
}

.score-count {
    height: 10vh;
    background-color: yellow;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.button {
    width: 5rem;
    height: 5rem;
    letter-spacing: 1.2px;
}

.button-big {
    padding-top: 10px;
    background-color: #fff;
    width: 130px;
    height: 130px;
    font-size: 5rem;
    border-radius: 50%;
    margin: 106px 45px;
}

.score-count {
    width: 100%;
    text-align: center;
}

.scores {
    font-size: 200%;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
}

/*footer*/
.footer {
    width: 100%;
}

.footer-text {
    float: left;
    font-size: 180%;
    margin-left: 20%;
    margin-bottom: 2%;
}

.social {
    font-size: 150%;
    margin-right: 20%;
    margin-top: 2%;
}

.social li {
    display: block;
    list-style-type: none;
    padding-right: 1rem;
    float: right;
}
